<?xml version="1.0"?>

<configuration>

  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="expiroSession.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Pruebas.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="MinutosDuracionCookie" value="120"/>
    <add key="CulturaDefecto" value="es-PE"/>
    <add key="versionJs" value="?v1.0"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ANALISIS_ENSAYOEntities" connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.26.10.63;Initial Catalog=ANALISIS_ENSAYO;User ID=sa;Password=sigcomt;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
       
  </connectionStrings>

  <system.web>

    <httpRuntime maxRequestLength="5242880" executionTimeout="7200" appRequestQueueLimit="200" />

    <globalization requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="auto" culture="auto" />
    
    <compilation debug="true" targetFramework="4.0" />

    <customErrors mode="Off" defaultRedirect="~/errorStatus.aspx"  />

    <authentication mode="Forms" >
      <forms loginUrl="Login.aspx"  name=".frmAutenticacion" />
      
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="20"/>
    
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
